@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');

@theme {
    --font-gravita : "Gravitas One", serif;
    --color-primary : #00CBB8;
    --color-secondary : #2F327D;
    --color-hero : #49BBBD;
    --color-para : #696984;
    --breakpoint-xs : 480px;
}

:root{
    --my-shadow : rgba(149, 157, 165, 0.2) 0px 8px 24px;
}





.classname{
    color : #ffffff65;
}

@layer components {
  .flex-box {
    /* @apply flex justify-center items-center gap-4; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 1rem;
}

.success-text{
    @apply bg-linear-to-r from-[#136CB5] to-hero bg-clip-text text-transparent text-3xl sm:text-5xl md:text-6xl font-light;
}

.primary-btn {
    @apply px-6 py-2 rounded-3xl bg-[#ffffff65] border-none text-white font-semibold;
}

.work-box{

}
}
@media screen and (max-width : 768px) {
    html {
        font-size: 75%;
    }
}